.box-container {
	display: none;
	height: 300px;
	width: 600px;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -150px;
	position: fixed;
	border: 2;
	z-index: 999;
    background-color: antiquewhite;
    box-shadow: 0px 0px 400px 100px rgba(0, 0, 0, .5);
    overflow-y: scroll;
    overflow-x: hidden;
}

.box-container #display {
	text-align: center; 
	font-size: 120px;
}